---
import astroLogo from "../assets/astro.svg"
import background from "../assets/background.svg"
---

<div id="container">
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <main>
    <section id="hero">
      <h2 class="text-3xl font-bold text-green-800">tailwind test</h2>
    </section>
  </main>
</div>
