---
import Layout from "../layouts/Layout.astro"
import background from "../assets/background.svg"
import rocks from "../assets/images/rocks.jpg"
import { Image } from "astro:assets"
---

<Layout>
  <div id="container" class="relative min-h-screen flex items-center justify-center">
    <img id="background" src={background.src} alt="" fetchpriority="high" class="absolute inset-0 w-full h-full object-cover" />
    <div class="card lg:card-side bg-base-100 shadow-sm">
      <figure>
        <Image src={rocks} alt="Album" width={400} height={400} loading="eager" fit="cover" position="top" />
      </figure>
      <div class="card-body items-center justify-center">
        <h2 class="card-title justify-center">DaisyUI rocks!</h2>
        <div class="card-actions justify-center mt-2">
          <button class="btn btn-primary btn-sm">Open</button>
        </div>
      </div>
    </div>
  </div>
</Layout>
